<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/fragments.html::#head"></div>
    <title>Кръводарителски център</title>
</head>
<body>
<div>
    <div th:include="fragments/fragments.html::#menu"></div>
    <div class="row justify-content-center mt-4">
        <h5 class="center">Към основните дейности на Центровете по трансфузионна хематология (ЦТХ) спадат следните:</h5>
        </br></br>
        <ul class="list-group">
            <li class="list-group-item">Планиране на нуждите от кръв и кръвни съставки за задоволяване на
                медицинските нужди на лечебни заведения.
            </li>
            <li class="list-group-item">Промоция, организация, набиране и подбор на кръводарители.</li>
            <li class="list-group-item">Вземане, събиране, съхранение и преработка на кръв.</li>
            <li class="list-group-item">Диагностика на взетите кръв и кръвни съставки.</li>
            <li class="list-group-item">Осигуряване на кръв, кръвни съставки и кръвни биопрепарати за лечебни
                заведения.
            </li>
            <li class="list-group-item">Извършване на имунохематологични изследвания на пациенти и подбор на кръв и
                кръвни съставки за всеки конкретен пациент.
            </li>
            <li class="list-group-item">Постигане на оптимално приложение на кръвни съставки.</li>
            <li class="list-group-item">Трансфузионен надзор, научно-изследователска и приложна дейност в областта
                на трансфузионната хематология.
            </li>
        </ul>
    </div>
</div>
<div th:include="fragments/fragments.html::#footer" class="footer"></div>
</body>
</html>