<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/fragments.html::#head"></div>
    <title>Кръвопреливане</title>
</head>
<body>
<div>
    <div th:include="fragments/fragments.html::#menu"></div>
    <div class="row justify-content-center mt-4 mb-5">
        <h3>Кръвопреливане</h3>

    </div>
    <div class="media mr-4">
        <img class="ml-4 mr-4" src="../../images/menu/blood-donation10.jpg"
             th:href="@{images/menu/blood-donation10.jpg}" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0">Кръвопреливане</h5>
            <p>
                Кръвопреливането (на латински:<i> haemotransfusio, хемотрансфузия</i>) е процедура, при която се
                прехвърлят кръв или кръвни продукти в кръвоносната система на човека.
                Кръвопреливането може да бъде наложено от директна заплаха за живота в някои ситуации, например
                значителна загуба на кръв поради травма или начин за компенсиране на кръвта, загубена по време на
                операция. Това е животоспасяваща манипулация, която може да се извърши само с кръв от дарител, който има
                съвместима с кръвта на приемателя кръвна група. Съобразява се със системата АВ0 и Rh.
                При несъответствие на кръвната група или неспазване на мерките за безопасно кръвопреливане, могат да
                настъпят различни по степен усложнения, известни като хемотрансфузионни усложнения.
            </p>
        </div>
    </div>
    <div class="media mt-4">
        <div class="media-body ml-4 mr-4">
            <h5 class="mt-0">Видове кръвопреливане</h5>
            <p>
                Някога кръвопреливането се е осъществява чрез директно пренасяне на кръвта от дарителя към приемателя
                (директно кръвопреливане). С развитието на медицината и методите за вземане и консервиране на кръв, е
                станало възможно кръвта да бъде предварително взета от дарителя, за да бъде прелята на по-късен етап в
                кръвоносната система на приемателя (индиректно кръвопреливане).
                Днес директното кръвопреливане има само историческа стойност, а в практиката се използват методите на
                индиректното кръвопреливане.
                Според вида на източника, кръвопреливането може да бъде хетероложно и автоложно. При хетероложното
                кръвопреливане се прелива кръв от един човек на друг. Автоложното кръвопреливане представлява внасянето
                на предварително взета собствена кръв.
            </p>
        </div>
        <img class="ml-4 mr-3" src="../../images/menu/blood-donation9.jpg" th:href="@{images/menu/blood-donation9.jpg}"
             alt="Generic placeholder image">
    </div>
</div>
<div th:include="fragments/fragments.html::#footer" class="footer"></div>
</body>
</html>