<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/fragments.html::#head"></div>
    <title>Кръводарители</title>
</head>
<div>
    <div th:include="fragments/fragments.html::#menu"></div>
    <div class="row justify-content-center mt-4">
        <h3>Кръводарители</h3>
    </div>
    </br></br>
    <div>
        <h5 class="mx-4">Съществуват три основни вида кръводарители:</h5>
        <br/>
        <ul class="ul-color mx-4">
            <li>Доброволни кръводарители.</li>
            <li>Близки и/или роднини на нуждаещият се от кръв.</li>
            <li>Кръводарители срещу възнаграждение.</li>
        </ul>
        <div>
            <p class="mx-4">
                Адекватното и надеждно предоставяне на безопасна кръв може да бъде осигурено от стабилна група от
                редовни,
                доброволни, неплатени кръводарители. Тези кръводарители са и най-сигурната група от донори, тъй като
                разпространението на кръвоносните инфекции е най-ниската сред тази група. Резолюция на Световната
                здравна
                асамблея WHA63.12 призовава всички държави-членки да разработят национални кръвни системи, основани на
                доброволни безвъзмездни дарения, и да работят за постигане на целта за самодостатъчност.
            </p>
        </div>
        </br>
        <h5 class="mx-4">Данните, докладвани на СЗО(Световната здравна организация), показват значително увеличение на
            доброволното неплатено кръводаряване в страни с
            ниски и средни доходи:
        </h5>
        </br>
        <ul class="ul-color mx-4">
            <li>Увеличаването на 10,7 милиона дарения от доброволни неплатени донори от 2008 до 2013 г. е съобщено от
                159
                страни. Най-голямо увеличение на доброволното безвъзмездно кръводаряване е в Югоизточна Азия (75%) и
                Африка
                (37%). Максималното увеличение в абсолютните числа е отчетено в региона на Югоизточна Азия (5,3 милиона
                дарения), следвана от региона на Западния Тихи океан (2,8 милиона дарения).
            </li>
            <li>74 държави събират повече от 90% от кръвоснабдяването си от доброволно безвъзмездно кръводаряване (39
                страни с високи доходи, 26 страни със средни доходи и 9 страни с ниски доходи). Това включва 57 държави
                със
                100% (или повече от 99%) кръвоснабдяване от доброволни неплатени кръводарители.
            </li>
            <li>В 71 страни повече от 50% от кръвопреливането продължава да зависи от семейните / заместители и
                платените
                кръводарители (11 държави с висок доход, 44 страни със средни доходи и 16 държави с ниски доходи).
            </li>
            <li>24 държави все още отчитат събирането на платени дарения през 2013 г., общо около 1 650 000 дарения.
            </li>
        </ul>
    </div>
</div>
<div th:include="fragments/fragments.html::#footer" class="footer"></div>
</body>
</html>