<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/fragments.html::#head"></div>
    <title>Кръводарител</title>
</head>
<body>
<div>
    <div th:include="fragments/fragments-users.html::#menu"></div>
    <table class="table table-hover table-red">
        <caption>Кръводарител</caption>
        <thead>
        <tr>
            <th>Град</th>
            <th>Име</th>
            <th>Фамилия</th>
            <th>Кръвна група</th>
            <th>Брой кръводарения</th>
        </tr>
        </thead>
        <tbody>
        <tr th:object="${bloodDonator}">
            <td th:text="*{city}"></td>
            <td th:text="*{firstName}"></td>
            <td th:text="*{lastName}"></td>
            <td th:text="*{bloodGroup}"></td>
            <td th:text="*{numberOfBloodDonation}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:include="fragments/fragments.html::#footer" class="footer"></div>
</body>
</html>