<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/fragments.html::#head"></div>
    <title>Кръводарител</title>
</head>
<body>
<div>
    <div th:include="fragments/fragments-users.html::#menu"></div>

    <table class="table table-hover table-red">
        <caption>Кръводарения</caption>
        <thead>
        <tr>
            <form action="#" th:action="@{/find-blood-donator-by-username}" method="post">
                <th colspan="3">
                    <div class="min-width-search max-width-search">
                        <input type="text" class="form-control" id="username" name="username"
                               th:value="${username}" placeholder="Потребителско име">
                        <button type="submit" class="btn btn-white">Търси</button>
                    </div>
                </th>
                <th colspan="3"></th>
                <th colspan="1"></th>
            </form>
        </tr>
        <tr>
            <th>Град</th>
            <th>Име</th>
            <th>Фамилия</th>
            <th>Кръвна група</th>
            <th>Активен кръводарител</th>
            <th>Резус фактор</th>
            <th>Брой кръводарения</th>
        </tr>
        </thead>
        <tbody th:if="${bloodDonator}">
        <tr th:object="${bloodDonator}">
            <td th:text="*{city}"></td>
            <td th:text="*{firstName}"></td>
            <td th:text="*{lastName}"></td>
            <td th:text="*{bloodGroup}"></td>
            <td th:text="*{activeBloodDonator} ? 'ДА' : 'НЕ'"></td>
            <td th:text="*{rhPositive} ? 'ДА' : 'НЕ'"></td>
            <td th:text="*{numberOfBloodDonation}"></td>
        </tr>
        <tr>
        <tr>
            <th>#</th>
            <th colspan="6">Дата на кръводарение</th>
        </tr>
        <tr th:each="bloodDonation,iter:${bloodDonations}" th:object="${bloodDonation}">
            <td th:text="${iter.count}"></td>
            <td colspan="6" th:text="*{#dates.format(bloodDonationDate, 'dd/MMMM/yyyy')}"></td>
        </tr>
        </tr>
        </tbody>
    </table>
</div>
<div th:include="fragments/fragments.html::#footer" class="footer"></div>
</body>
</html>