<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/fragments.html::#head"></div>
    <title>Регистриране на кръводарител</title>
</head>
<body class="body-color">
<div>
    <div th:include="fragments/fragments-users.html::#menu"></div>
    <div class="row justify-content-center">
        <div class="text-align-center">
            <div class="d-inline-flex p-2">
                <div id="fluid" class="mx-5">
                    <form action="#" th:action="@{/edit-blood-donator}" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="firstName">Име</label>
                                <input type="text" class="form-control" id="firstName" name="firstName"
                                       th:value="${firstName}" placeholder="Име">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lastName">Фамилия</label>
                                <input type="text" class="form-control" id="lastName" name="lastName"
                                       th:value="${lastName}"
                                       placeholder="Фамилия">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="ageString">Години</label>
                            <input type="text" class="form-control" id="ageString" name="ageString"
                                   th:value="${ageString}"
                                   placeholder="Години">
                        </div>
                        <div class="form-group" th:object="${address}">
                            <label for="region">Област</label>
                            <select id="region" class="form-control" name="region">
                                <option th:value="selected" selected>Изберете област...</option>
                                <option th:value="Благоевград">Благоевград</option>
                                <option th:value="Бургас">Бургас</option>
                                <option th:value="Варна">Варна</option>
                                <option th:value="Велико-Търново">Велико Търново</option>
                                <option th:value="Видин">Видин</option>
                                <option th:value="Враца">Враца</option>
                                <option th:value="Габрово">Габрово</option>
                                <option th:value="Добрич">Добрич</option>
                                <option th:value="Кърджали">Кърджали</option>
                                <option th:value="Кюстендил">Кюстендил</option>
                                <option th:value="Ловеч">Ловеч</option>
                                <option th:value="Монтана">Монтана</option>
                                <option th:value="Пазарджик">Пазарджик</option>
                                <option th:value="Перник">Перник</option>
                                <option th:value="Плевен">Плевен</option>
                                <option th:value="Пловдив">Пловдив</option>
                                <option th:value="Разград">Разград</option>
                                <option th:value="Русе">Русе</option>
                                <option th:value="Силистра">Силистра</option>
                                <option th:value="Сливен">Сливен</option>
                                <option th:value="Смолян">Смолян</option>
                                <option th:value="София">София</option>
                                <option th:value="София-област">София-област</option>
                                <option th:value="Стара-Загора">Стара Загора</option>
                                <option th:value="Търговище">Търговище</option>
                                <option th:value="Хасково">Хасково</option>
                                <option th:value="Шумен">Шумен</option>
                                <option th:value="Ямбол">Ямбол</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="municipality">Община</label>
                            <input type="text" class="form-control" id="municipality" name="municipality"
                                   th:value="*{municipality}"
                                   placeholder="Община">
                        </div>
                        <div class="form-group">
                            <label for="city">Град</label>
                            <input type="text" class="form-control" id="city" name="city" th:value="*{city}"
                                   placeholder="Град">
                        </div>
                        <div class="form-group">
                            <label for="street">Улица</label>
                            <input type="text" class="form-control" id="street" name="street" th:value="*{street}"
                                   placeholder="Улица">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="isActiveBloodDonator"
                                           th:checked="${isActiveBloodDonator}"
                                           name="isActiveBloodDonator">
                                    <label class="form-check-label" for="isActiveBloodDonator">
                                        Активен кръводарител
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-primary float-left button-color" id="button">Промени
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="fragments/fragments.html::#footer" class="footer"></div>
</body>
</html>