<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block id="head">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../../public/css/bootstrap.min.css"
              th:href="@{/css/bootstrap.min.css}"/>
        <link rel="stylesheet" href="../../public/css/styles.css" th:href="@{/css/styles.css}"/>
        <link rel="icon" href="../../public/images/menu/blood-donation-favicon.ico"
              th:href="@{images/menu/blood-donation.ico}"/>
        <script src="../../public/js/jquery-3.1.0.min.js" th:src="@{/js/jquery-3.1.0.min.js}"></script>
        <script src="../../public/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    </th:block>
</head>
<body>
<div id="menu">
    <nav class="navbar navbar-expand-lg navbar-light bg-red">
        <a class="navbar-brand" href="/" th:href="@{/}">
            <img class="navbar-img" src="../../public/images/menu/blood-donation1.jpg"
                 th:src="@{/images/menu/blood-donation1.jpg}"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto text-white">
                <li class="nav-item active">
                    <a class="nav-link" href="/" th:href="@{/}">Начало<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown" th:if="${#httpServletRequest.isUserInRole('ADMIN')}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAdmin" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Меню администратор
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownAdmin">
                        <a class="dropdown-item" href="/" th:href="@{/menu-admin}">Ниво на достъп</a>
                        <a class="dropdown-item" href="/" th:href="@{/find-blood-donator-by-city}">Търсене на
                            кръводарител по град</a>
                        <a class="dropdown-item" href="/" th:href="@{/find-blood-donator-by-first-name}">Търсене на
                            кръводарител по име</a>
                        <a class="dropdown-item" href="/" th:href="@{/find-blood-donation-center-by-username}">Търсене
                            на кръводарителски център по потребителско име</a>
                        <a class="dropdown-item" href="/" th:href="@{/find-blood-donator-by-username}">Търсене на
                            кръводарител по потребителско име</a>
                    </div>
                </li>
                <li class="nav-item dropdown" th:if="${#httpServletRequest.isUserInRole('BLOOD DONATION CENTER')}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBloodDonationCenter" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        Меню кръводарителски център
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownBloodDonationCenter">
                        <a class="dropdown-item" href="/" th:href="@{/find-blood-donator-by-city}">Търсене на
                            кръводарител по град</a>
                        <a class="dropdown-item" href="/" th:href="@{/find-blood-donator-by-first-name}">Търсене на
                            кръводарител по име</a>
                        <a class="dropdown-item" href="/" th:href="@{/find-blood-donator-by-username}">Търсене на
                            кръводарител по потребителско име</a>
                        <a class="dropdown-item" href="/" th:href="@{/edit-blood-donation-center}">Промени профил</a>
                    </div>
                </li>
                <li class="nav-item" th:if="${#httpServletRequest.isUserInRole('BLOOD DONATOR')}">
                    <a class="nav-link" href="/" th:href="@{/edit-blood-donator}">Промени профил</a>
                </li>
            </ul>
            <div class="row justify-content-end">
                <form th:action="@{/logout}" method="post">
                    <div th:if="${#httpServletRequest.remoteUser}" class="mr-4 btn-padding">
                        <p class="inline-block margin-bottom white-color" th:inline="text">Здравей
                            [[${#httpServletRequest.remoteUser}]] !</p>
                        <button class="btn btn-white" type="submit">Изход</button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>
</body>
</html>




