<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/fragments.html::#head"></div>
    <title>Потребител</title>
</head>
<body>
<div>
    <div th:include="fragments/fragments-users.html::#menu"></div>
    <table class="table table-hover table-red">
        <caption>Потребител</caption>
        <thead>
        <tr>
            <form action="#" th:action="@{/menu-admin}" method="post">
                <th colspan="2">
                    <div class="max-width-search">
                        <input type="text" class="form-control" id="username" name="username"
                               th:value="${username}" placeholder="Търси потребител">
                        <button type="submit" class="btn btn-white">Търси</button>
                    </div>
                </th>
                <th colspan="3"></th>
                <th colspan="2"></th>
            </form>
        </tr>
        <tr>
            <th colspan="2">Потребител</th>
            <th colspan="2">Роля</th>
            <th>Промени роля</th>
            <th colspan="2"></th>
        </tr>
        </thead>
        <tbody th:if="${user}">
        <tr th:object="${user}">
            <td colspan="2" th:text="*{username}"></td>
            <td colspan="2" th:text="${user.role.role}"></td>
            <form action="#" th:action="@{/change-role}" method="post">
                <td>
                    <select id="role" class="form-control" name="role" style="color:red">
                        <option th:each="role:${roles}" th:object="${role}"
                                th:value="*{role}" th:text="*{role}"></option>
                    </select>
                </td>
                <td colspan="2">
                    <button name="username" th:value="*{username}" type="submit" class="btn btn-white">Промени</button>
                </td>
            </form>
        </tr>
        </tbody>
    </table>
</div>
<div th:include="fragments/fragments.html::#footer" class="footer"></div>
</body>
</html>

