<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/fragments.html::#head"></div>
    <title>Рецепиенти</title>
</head>
<body>
</head>
<div>
    <div th:include="fragments/fragments.html::#menu"></div>
    <div class="row justify-content-center">
        <h3>Кой има нужда от кръвопреливане?</h3>
        </br></br>
    </div>
    <div class="mx-4">
        <h4>Хора претърпели катастрофи, наранявания и травми</h4>
        <p>Това са случаи, в които хора са претърпели инцидент и са изгубили голяма част от кръвта си.
            При подобна ситуация е необходимо да се извърши кръвопреливане, което може да е в резултат на последваща от
            злополуката операция, целяща спасяването на живота на пострадалия. Тук е от значение навременната намеса от
            страна на лекарския екип така и на кръводарителите.
        </p>
    </div>
    <div class="mx-4">
        <h4>Хора със заболявания</h4>
        <p>Съществуват множество заболявания, които водят до нуждата от кръвопреливане.
            Такива коварни болести са бъбречната недостатъчност, анемията, хемофилията , инфекции или болести на черния
            дроб, които водят до нарущения при синтеза на кръвта или на елемените, които я изграждат.
        </p>
        <ul class="ul-color">
            <h6>Хронична бъбречна недостатъчност</h6>
            <li>Хроничната бъбречна недостатъчност (на латински: <i>Insufficientia renalis chronica</i>) е състояние на
                нарушени бъбречни функции – отделителна[1], регулираща [2] и инкреторна [3]. Според тежестта на
                състоянието, хроничната бъбречна недостатъчност бива от различна степен, от най-лека (1-ва) до крайна
                (5-та) степен, зависеща от хемодиализа. Времето между установяване на проблема и началото на лечение е
                от кардинална значимост и определя до голяма степен обратимостта на повредите върху отделителната
                система.
            </li>
            <h6>Анемия</h6>
            <li>Анемия (на гръцки: <i>Ἀναιμία, „без кръв“, още малокръвие, безкръвие</i>) е недостиг на червени кръвни
                телца
                и/или хемоглобин в кръвта. Това причинява намалена способност на кръвта да пренася кислород към
                тъканите, така причинявайки тъканна хипоксия. Следва да се спомене, че има полови различия в нормалните
                стойности на кръвните показатели: при мъжете броят на червените кръвни телца – хемоглобина и
                хематокрита, е по-висок от броя на жените.[1] Това се дължи на две основни причини – влиянието на
                половите хормони и месечния цикъл при жените.[1]
                Анемията може да се разглежда както като самостоятелно заболяване (отделна нозологична единица), така и
                като симптом на други заболявания.
            </li>
            <h6>Хемофилия</h6>
            <li>Хемофилията (Haemophilia) е генетично заболяване свързано със затруднено кръвосъсирване, което води до
                предвидима или спонтанна загуба на кръв, която при заболелите е по-голяма от нормалното.
            </li>
        </ul>
    </div>
</div>
</br></br></br>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>