<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/fragments.html::#head"></div>
    <title>Кръвни тестове</title>
</head>
<body>
<div>
    <div th:include="fragments/fragments.html::#menu"></div>
    <div class="row justify-content-center">
        <h3>Кръвни тестове</h3>
        </br></br></br></br>
    </div>
    <div class="row justify-content-center">
        <div>
            <div class="btn-group">
                <a class="btn btn-red" href="#hepatitis_c" role="button">Хепатит С</a>
                <a class="btn btn-red" href="#hepatitis_b" role="button">Хепатит Б</a>
                <a class="btn btn-red" href="#aids" role="button">СПИН</a>                <!--th:href="#aids" -->
                <a class="btn btn-red" href="#syphilis" role="button">Сифилис</a>
            </div>
        </div>
    </div>
    </br></br>
    </br></br></br>
    <div class="mx-4">
        <h4 id="hepatitis_c">Хепатит С</h4>
        <p5>Anti - HCV е антитяло срещу хепатитния C вирус. То се изработва от организма. Може да се открие чрез
            изследване
            на кръвта. Показва дали организмът Ви се е срещал с вируса досега.
        </p5>
        <h6>Резултат Anti - HCV Ab (-) отрицателен:</h6>
        <p5>Според това изследване Вие не сте болен от хепатит С. За предпазване от заразяване е необходимо да избягвате
            случайни полови контакти, да използвате презерватив при такива, да не се подлагате на манипулации,
            нарушаващи
            целостта на кожата (пиърсинг, татуировки, инжекции), а когато те се налагат да се използват само материали
            за
            еднократна употреба (игли, спринцовки и др.).
        </p5>
        <h6>Резултат Anti-HCV Ab (+) положителен:</h6>
        <p5>Този резултат показва, че организмът Ви е изработил антитела срещу вируса на хепатит С. Това все още не
            означава, че сте болен. Може да сте заразен с хепатит С или да сте прекарал инфекцията и да сте излекуван.
            Необходими са допълнителни изследвания. Те ще покажат дали сте болен от хепатит С в момента .
        </p5>
        <h6>ВАЖНО:</h6>
        <p5>Хепатит С е лечима болест. Колкото по-бързо започне лечението, толкова по-големи са шансовете за излекуване.
            Ако
            се окаже, че сте болен от Хепатит C ще е бъде добре за Вас да се ваксинирате срещу Хепатит Б.
        </p5>
    </div>
    <div class="mx-4">
        <h4 id="hepatitis_b">Хепатит Б</h4>
        <p5>HBsAg е част от вируса на Хепатит Б, който се намира в кръвта на заразените с вируса.
        </p5>
        <h6>Резултат HBsAg(-) отрицателен:</h6>
        <p5>Според това изследване Вие не сте болен или носител на Хепатит Б. Необходимо е да проверявате веднъж на 6 до
            12
            месеца дали не сте заразен. Това става чрез същите изследвания. За предпазване от заразяване е необходимо да
            избягвате случайни полови контакти, да използвате презерватив при такива, да не се подлагате на манипулации,
            нарушаващи целостта на кожата (пиърсинг, татуировки, инжекции) , а когато те се налагат да се използват само
            материали за еднократна употреба (игли,спринцовки и др.).
            Най-добрата защита срещу Хепатит B e ваксината.
        </p5>
        <h6>Резултат HBsAg(+) положителен:</h6>
        <p5>Вие сте носител на т.нар. Австралийски антиген. Това не трябва да Ви плаши. Необходимо да се направят
            допълнителни изследвания. Разбира се, винаги резултатът подлежи на потвърждение заради възможна грешка.
            Изследванията могат да бъдат назначени от Вашия личен лекар.
            При Вас е налице една от следните възможности:
            Имате носителство на Хепатит Б: вирусът е във вашето тяло, но не се възпроизвежда и не уврежда черния Ви
            дроб.
            Вие сте практически здрав , но можете да заразите друг човек. Носителството може никога да не премине в
            болест.
            Необходимо е пациентите да се изследват веднъж годишно чрез лабораторни кръвни изследвания.
            Имате Хроничен Хепатит Б - това е сериозно заболяване, което може да прогресира към чернодробна цироза(25%).
            Необходимо е обстойно изследване, включващо кръвни проби и чернодробна биопсия. Хроничният Хепатит Б може да
            протече с или без симптоми.
        </p5>
        <h6>ВАЖНО:</h6>
        <p5>Хроничният Хепатит Б е напълно лечимо заболяване, ако се открие навреме.
            Имате остър Хепатит Б: подлежите на задължително лечение в Инфекциозна болница.
            Рискови групи са наркомани, проституиращи жени и особено мъже, хомосексуалисти. Повече за хепатит Б научете
            тук
        </p5>
    </div>
    <div class="mx-4">
        <h4 id="aids">СПИН</h4>
        <p5>Anti - HIV е антитяло срещу вируса НIV. То се намира в кръвта и може да се изследва чрез кръвна проба.
            Показва
            дали организмът Ви се е срещал с вируса HIV.
        </p5>
        <h6>Резултат Anti-HIV Ab (-) отрицателен:</h6>
        <p5>Показва че организмът Ви не се е срещал с вирусa HIV. Вие не сте заразен. Тъй като все още няма ваксина
            срещу
            HIV, за да се предпазите е необходимо:
            да избягвате случайни полови контакти,
            да използвате презерватив при такива,
            да не се подлагате на манипулации, нарушаващи целостта на кожата (пиърсинг, татуировки, инжекции) . Когато
            те се
            налагат, трябва да се използват само материали за еднократна употреба (игли, спринцовки и др.).
            Хора, които често сменят половите си партньори, е добре да се изследват всеки 4-6 месеца. Ако имате
            постоянен
            партньор може да се изследвате веднъж годишно.
        </p5>
        <h6>Резултат Anti-HIV Ab (+) положителен:</h6>
        <p5>Не означава, че Вие сте болен(а) от СПИН. Вероятно е да сте заразен(а) с вируса. В около 1-5% от кръвните
            проби
            се получават фалшиво положителни резултати. Това може да се случи ако страдате от: малария, ревматологични
            болести или просто сте бременна.
            Само 25% от носителите на вируса развиват СПИН след години. Необходими са допълнителни изследвания.
            Задължително
            потърсете лекарски съвет.
        </p5>
    </div>
    <div class="mx-4">
        <h4 id="syphilis">Сифилис</h4>
        <p5>ELISA е изследване на кръвта, което се извършва при съмнение за сифилис. Чрез него се доказва наличие на
            антитела в организма, които са насочени срещу причинителя на сифилиса.
        </p5>
        <h6>Тест за сифилис (ELISA) отрицателен (-):</h6>
        <p5>Означава, че Вие не боледувате от Сифилис(Луес). За предпазване от заразяване е необходимо да избягвате
            случайни
            полови контакти или да ползвате презерватив при такива. Не забравяйте, обаче, че дори и презервативът не
            осигурява 100% защита.
        </p5>
        <h6>Тест за сифилис (ELISA) положителен (+):</h6>
        <p5>Резултат на теста за Сифилис(Луес) е положителен. Това може да означава, че сте болен от тази болест, но
            това
            може и да не е така. Необходими са допълнителни изследвания.
            Задължително потърсете лекарски съвет!
            Съществуват редица състояния и заболявания, които могат да позитивират този тест без наличие на инфекция с
            причинителя на сифилиса, като напр. други инфекции възпалителни и кожни заболявания, ревматоиден артрит,
            системен лупус еритематодес и т.н.
            Фалшиво положителни са три до четиридесет процента от пробите.

        </p5>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</body>
</html>