<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/fragments.html::#head"></div>
    <title>Начална страница</title>
    <!--<script src="../../public/js/jquery-3.1.0.min.js" th:src="@{/js/jquery-3.1.0.min.js}"></script>-->

</head>
<body>
<div>
    <div th:include="fragments/fragments.html::#menu"></div>
    <div class="mx-5">
        <div id="fluid" class="content container-fluid">
            <div class="section2 col-sm-12">
                <div class="row">
                    <div class="col-md-4 purple-col">
                        <img class="section-backgraund" src="../../public/images/menu/blood-donation2.jpg"
                             th:src="@{/images/menu/blood-donation2.jpg}" alt=""/>
                        <a href="blood-testing" th:href="@{blood-testing}" class="animate-link">
                            <div class="section-text">
                                <h3>Изследване на дарената кръв</h3>
                                <h6 class="learn-more-icone">Прочети повече <i></i></h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 purple-col">
                        <img class="section-backgraund" src="../../public/images/menu/blood-donation3.jpg"
                             th:src="@{/images/menu/blood-donation3.jpg}" alt=""/>
                        <a href="blood-donation-center" th:href="@{blood-donation-center}" class="animate-link">
                            <div class="section-text">
                                <h3>Национален център по трансфузионна хематология</h3>
                                <h6 class="learn-more-icone">Прочети повече <i></i></h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 purple-col">
                        <img class="section-backgraund" src="../../public/images/menu/blood-donation4.jpg"
                             th:src="@{/images/menu/blood-donation4.jpg}" alt=""/>
                        <a href="blood-groups" th:href="@{blood-groups}" class="animate-link">
                            <div class="section-text">
                                <h3>Кръвни групи</h3>
                                <h6 class="learn-more-icone">Прочети повече <i></i></h6>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 purple-col">
                        <img class="section-backgraund" src="../../public/images/menu/blood-donation5.jpg"
                             th:src="@{/images/menu/blood-donation5.jpg}" alt=""/>
                        <a href="blood-recipients" th:href="@{blood-recipients}" class="animate-link">
                            <div class="section-text">
                                <h3>Рецепиенти</h3>
                                <h6 class="learn-more-icone">Прочети повече <i></i></h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 purple-col">
                        <img class="section-backgraund" src="../../public/images/menu/blood-donation6.jpg"
                             th:src="@{/images/menu/blood-donation6.jpg}" alt=""/>
                        <a href="blood-donors" th:href="@{blood-donors}" class="animate-link">
                            <div class="section-text">
                                <h3>Кръводарители</h3>
                                <h6 class="learn-more-icone">Прочети повече <i></i></h6>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 purple-col">
                        <img class="section-backgraund" src="../../public/images/menu/blood-donation7.jpg"
                             th:src="@{/images/menu/blood-donation7.jpg}" alt=""/>
                        <a href="blood-transfusion" th:href="@{blood-transfusion}" class="animate-link">
                            <div class="section-text">
                                <h3>Кръвопреливане</h3>
                                <h6 class="learn-more-icone">Прочети повече <i></i></h6>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>-->
</body>
</html>
