<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/fragments.html::#head"></div>
    <title>Кръводарителски център</title>
</head>
<body>
<div>
    <div th:include="fragments/fragments-users.html::#menu"></div>

    <table class="table table-hover table-red">
        <caption>Кръводарителски център</caption>
        <thead>
        <tr>
            <th>Име</th>
            <th>Област</th>
            <th>Община</th>
            <th>Град</th>
            <th>Улица</th>
        </tr>
        </thead>
        <tbody>
        <tr th:object="${bloodDonationCenter}">
            <td th:text="*{name}"></td>
            <td th:text="${bloodDonationCenter.address.region}"></td>
            <td th:text="${bloodDonationCenter.address.municipality}"></td>
            <td th:text="${bloodDonationCenter.address.city}"></td>
            <td th:text="${bloodDonationCenter.address.street}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:include="fragments/fragments.html::#footer" class="footer"></div>
</body>
</html>